
body {
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-color: #fff6d8;
 
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #a55923;
    margin-bottom: 40px;
    font-size: 115px;
    margin-top: 35px;
}

.ingredients {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ingredient {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
    border: 3px solid transparent;
}

.ingredient:hover {
    transform: scale(1.1);
}

.selected {
    border: 3px solid #ca6445;
}

#dessert {
    margin-top: 30px;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#dessert img {
    width: 250px;
  
    height: auto;
    border-radius: 10px;
    display: none;
}

#dessert-name {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #6d4c41;
    margin-top: 5px;
}