body {color: #9cb3cb;
    font-size: 14ch;
    background-color: #cddaea;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:left;
    margin-right: 1ch;}

/* Change the color when the mouse is over it. */
a:hover { color: fuchsia; }



 p {color: rgb(196, 150, 171); 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:left;}
  

/* And when the mouse is clicked. */
a:active { color: rgb(65, 222, 233); }





